<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar.ejs") %>
    <h2 class="heading">About Us</h2>
    <section class="container">
        <div class="about_content" id="abt1">
            <img src="https://qph.cf2.quoracdn.net/main-qimg-41967f02e25e44d3b79e773794f853c8-lq">
            <h4>Who are we?</h4>
            <p>
                The concept is to offer fashion and quality at the best price in a sustainable way. Lilac has, 
                since it was founded in 1970, grown into one of the world's leading fashion companies. 
            </p>
        </div>
        
        <div class="about_content" id="abt2">
            <img src="https://glocalabel.com/media/beingallery/uploads/Kiabi-ss20-04.jpg">
            <h4>Fashion for the whole family</h4>
            <p>
                At Lilac, we embrace fashion for all - men, women, and kids. The whole family will be able 
                to find their own style in our stores.
            </p>
        </div>
        
        <div class="about_content" id="abt3">
            <img src="https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40292/We_re_Open_Sign.jpg" >
            <h4>Customer Service</h4>
            <p>
                We are available online 24/7 to answer your queries. Feel free to dial us or write to us
                if you have any questions. Your queries will be answered within 48 hours. Please check out our 
                contact page for more information.

            </p>
        </div>
        
    </section>

    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>