<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar.ejs") %>

    <div class="Acc_success">
        <h3>Item Successfully Added to Cart!</h3>
   
    </div>
    
     
    
</body>
</html>