<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar.ejs") %>
    <h2 class="heading">LILAC Stores</h2>
    <section class="store_container">
        <div class="store">
            <h3>LILAC Dubai Festival City</h3>
            <p>
                LILAC Store - Dubai Festival City <br>
                Al Rebat Road,<br>
                DUBAI, UAE<br>
                50618
            </p>

            <div class="timings">
                <h4>Opening hours:</h4>
                10am - 9pm
            </div>
        </div>

        <div class="store">
            <h3>LILAC Jebel Ali</h3>
            <p>
                LILAC Store - Jebel Ali <br>
                Festival Plaza Mall,<br>
                Jebel Ali,<br>
                DUBAI, UAE <br>
                1811
            </p>

            <div>
                <h4>Opening hours:</h4>
                11am - 9pm
            </div>
        </div>

        <div class="store">
            <h3>LILAC Abu Dhabi</h3>
            <p>
                LILAC Store - Yas Island <br>
                Yas Island, Yas West,<br> 
                Abu Dhabi, UAE <br> 
                52718
            </p>

            <div> 
                <h4>Opening hours:</h4>
                10:30am - 9:30pm
            </div>
        </div>

        <div class="store">
            <h3>LILAC Al Ain</h3>
            <p>
                LILAC Store - Al Ain COCP<br>
                Al Bawadi Mall, <br>
                Al Noud - Abu Dhabi, <br>
                Abu Dhabi, UAE <br>
                52718
            </p>

            <div>
                <h4>Opening hours:</h4>
                11am - 9:30pm
            </div>
        </div>

        <div class="store">
            <h3>LILAC Al Wahda</h3>
            <p>
                LILAC Store - Al Wahda<br>
                Al Wahda Mall - Abu Dhabi <br>
                Al Asalah St - Zone 1E19<br>
                Abu Dhabi, UAE <br>
                52718
            </p>

            <div>
                <h4>Opening hours:</h4>
                10am - 10pm
            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>