<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar.ejs") %>

    <section class="container">
        <div id="contactUs_banner">
            <h3>Contact Us</h3>
            <p>Got something on your mind? Let us know and we will gladly help you out.</p>
        </div>

        <div class="contact">
            <h4>Call Us <a href="tel:80054522" class="tele"><i style="font-size:30px" class="fa">	&#xf095;</i></a></h4>
            <p>Get in touch with us at 800 LILAC (800 54522). We are available from 9am to 9pm, 7 days a week.</p>
        </div>

        <div class="contact">
            <h4>Email Us <a href="mailto:customer.service@lilac.in" class="link"><i style="font-size:30px" class="fa">	&#xf0e0;</i></a></h4>
            <p>
                Drop us an email at <a href="mailto:customer.service@lilac.in" class="link">customer.service@lilac.in</a>. 
                We will reply as quickly as we can but please note that email responses may take 48 to 72 hours.
            </p>
        </div>
        
        <p id="quick_call">HAVE A QUESTION? <a href="tel:80054522" class="tele">800 LILAC (800 54522)</a></p>
        <br><br>
    </section>

    
    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>