<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar_signIn.ejs") %>
    

    <div class="Acc_success">
        <h3>Account Creation Failed</h3>
        <div>
            <h4>The entered Username is already taken... Please try again! </h4>
        </div>
        <br><br><br>
        <span><a href="/createAcc" class="link">CLICK HERE to register again!</a></span>

    </div>

    
</body>
</html>