<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar.ejs") %>
    
    <section class="featured">
        <div class="product_container">
            <div class="prod kids_prod_container" onclick="window.location.href='/girls'">
                <img src="https://ae.hm.com/sites/g/files/hm/styles/product_zoom_medium_606x504/brand/assets-shared/HNM/13662969/412e8add5e36226f9684ec45c5518a6e590b49fd/1/412e8add5e36226f9684ec45c5518a6e590b49fd.jpg?itok=_5WFTths">
                <div class="prod_desc kids_desc">
                    <span>GIRLS 2-10Y</span>
                </div>
            </div>
    
            <div class="prod kids_prod_container" onclick="window.location.href='/boys'">
                <img src="https://ae.hm.com/sites/g/files/hm/styles/product_zoom_medium_606x504/brand/assets-shared/HNM/14442118/a6891fe9274de12677a6abc46e75536ce005f9c7/1/a6891fe9274de12677a6abc46e75536ce005f9c7.jpg?itok=U_Q1t9XI">
                <div class="prod_desc kids_desc">
                    <span>BOYS 2-10Y</span>
                </div>
            </div>
    
            <div class="prod kids_prod_container" onclick="window.location.href='/big_girls'">
                <img src="https://ae.hm.com/sites/g/files/hm/styles/product_zoom_medium_606x504/brand/assets-shared/HNM/14466031/324af3ec90417d3febacb841c9064a19053b5fc6/1/324af3ec90417d3febacb841c9064a19053b5fc6.jpg?itok=Kl8vssZI">
                <div class="prod_desc kids_desc">
                    <span>GIRLS 10-14Y</span>
                </div>
            </div>
    
            <div class="prod kids_prod_container" onclick="window.location.href='/big_boys'">
                <img src="https://ae.hm.com/sites/g/files/hm/styles/product_zoom_medium_606x504/brand/assets-shared/HNM/14441435/00ff59ce2135f0852c7712549aa1c42828ba5184/1/00ff59ce2135f0852c7712549aa1c42828ba5184.jpg?itok=gLKAQ9AY">
                <div class="prod_desc kids_desc">
                    <span>BOYS 10-14Y</span>
                </div>
            </div>
        </div>

    </section>
    

        
    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>