<!-- NAV BAR -->
<nav>
    <div>
        <h1> <span class="brand_logo">&#9884;</span> LILAC </h1>
    </div>
    
    <ul>
        <li><a href="/signIn" class="tag" id="SignedIn">Sign In / Sign Up</a></li>
        
    </ul>
</nav>