<section class="featured">
    <h2>Featured products</h2>
    <p>New arrivals in the summer collection</p>
    <br><br><br>
    <div class="product_container">       
        <% if(products.length > 0){  %>
            <% products.forEach(product => {  %>
                <div class="prod" onclick="window.location.href='/prodSummary'">
                    <img src="<%= product.main_img %>">
                    <div class="prod_desc">
                        <span>DIVIDED | <%= product.category %></span>
                        <h5><%= product.prod_name %></h5>
                        <h4><%= product.price %></h4>
                        <!-- <a href="/cart"><i class="fa">	&#xf07a;</i></a> -->
                    </div>
                </div>
            <% }) %> 
        <% } %>

    </div>

</section>