<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar.ejs") %>

    <div class="Acc_success">
        <h3><%= message %></h3>
    
        <div>
            <h4>Start Shopping </h4>
            <a href="/home" class="link">!! Click Here to start shopping !!</a>

        </div>
        

    </div>
    

    
</body>
</html>