<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/nav_bar.ejs") %>

    <h4 class="t_and_c_header "> Terms and Conditions</h4>
    <section class="offer_pic t_and_c">
        <div class="offer_pic_content">
            <p>This offer is valid on all online purchases before 25 September 2022</p>
            <p>This voucher is valid until 6 months from the date of issuance, and can be redeemed at any Lilac stores in UAE</p>
            <p>To avail the half back offer, please visit any nearby Lilac store. </p>
            <p>Kindly show the reciept of your online purchase to get the half back voucher. </p>
            <p>This voucher is non-refundable and cannot be exchanged for cash in part or full and is valid for a single transaction only</p>
            <p>This voucher cannot be redeemed in order to purchase gift cards</p>
            <h6>This voucher is only applicable for online shopping. </h6>
        </div>
    </section>
    

    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
    
</body>
</html>